@font-face{
  font-family: "The wind first regular";
  src: url("The Wind First Regular.otf") format("opentype");
}

@font-face{
  font-family: "Amourist";
  src: url("Amourist.otf") format("opentype");
}

@font-face {
  font-family: 'Varta';
  src:url('Varta.ttf.woff') format('woff'),
      url('Varta.ttf.svg#Varta') format('svg'),
      url('Varta.ttf.eot'),
      url('Varta.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Above the Beyond Script";
  src: url("Above the Beyond Script.otf") format("opentype");
}

html,
body {
  /* Set default font and text alignment */
  font-family: "Varta", 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

#welcome-text {
  width: 100%;
  padding: 8% 0;
  color: white;
}
#font1 {
  font-size: 140px;
  font-family: "The wind first regular";
}
#font2 {
  font-size: 35px;
}
#font3 {
  font-size: 40px;
  font-family: "Above the Beyond Script";
}

.Welcome {
  position: relative;
  top: calc(15px + 1em + 25px); /* Leave margin on top for nav bar */
  background-image: url("Welcome.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.about {
  padding-top: 25vh;
  min-height: 90vh;
  text-align: center;
}

/* Divide section in two columns */
.about-img {
  display: inline-block;
  vertical-align: top;
}

/* Image Gossausee */
.about #Me {
    width: 550px;
}

.Note {
    margin-top: 20px;
    width: 490px;
    background: url('Leaf_Note2.png') no-repeat;
    background-size: contain;
}

.Note #first {
  padding-top: 200px;
}

.Note p {
  padding-left: 60px;
  width: 280px;
  text-align: justify;
  font-family: lato,sans-serif;
  font-size: 18px;
  color: black;
}

.passions {
  font-family: "The wind first regular";
  font-size: 50px;
  color: grey;
}

.WhyApplying {
  border-bottom: 1px solid #22313F;
  border-top: 1px solid #22313F;
  margin: 50px;
}

.WhyApplying #title {
  font-family: "Amourist";
  font-size: 95px;
  float: left;
  width: 30%;
  margin-top: 200px;
  margin-bottom: 90px;
  margin-left: 5%;
}

.WhyApplying #text {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: 35%; /* Needs to be width + margin-left of #title to align the start of text with end of title */
  font-size: 20px;
  text-align: justify;
  width: 60%;
}

#CarouselTitle {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #f7f2ef;
}

#CarouselTitle-quote {
  position: absolute;
  right: 0;
  margin-right: 50px;
  font-family: "The wind first regular";
  font-size: 50px;
}

/* Camera icon */
#CarouselTitle img {
  height: 50px;
  margin-top: 75px;
  margin-bottom: 75px;
  vertical-align: middle;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #f7f2ef;
  z-index: 20;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: grey;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
}

/* Profiles */
.links {
  border-top: 1px solid #22313F;
  margin: 50px;
  padding-top: 80px;
  padding-bottom: 16px;
}

.links img {
  width: 280px;
}

.links-details {
  vertical-align: bottom;
  margin: 5px;
}

@media only screen and (max-width: 367px) {
  .links-details {
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}

.BackToTop {
  font-family: "Amourist";
  font-size: 30px;
  margin-right: 30px;
  z-index: 99;
  width: 90px;
  position: absolute;
  right: 50px;
  padding-top: 30px;
}

.BackToTop a {
  text-decoration:none;
  color: black;
}

#ThankYou-section {
  border-top: 1px solid #22313F;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 80vh;
  padding-top: 15vh;
}

#ThankYouBox {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

#ThankYouImg {
  width: 100%;
}
#ThankYouText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f7f2ef;
  visibility: hidden;
  font-size: 20px;
  padding-top: 15vh;
}
#fontThankYou {
  font-size: 50px;
  font-family: "Above the Beyond Script";
}
#ThankYouBox:hover #ThankYouText {
  visibility: visible;
  opacity: .9;
}

#Instagram-section {
  background: #f7f2ef;
  color: black;
  height: 200px;
}

#Instagram { /* Text format */
  font-family: "The wind first regular";
  font-size: 60px;
  width: 40%;
}
#Instagram a { /* Link to my instagram */
  text-decoration:none;
  color: black;
}
#Instagram img { /* Logo */
  height: 50px;
  margin-top: 75px;
  margin-bottom: 75px;
  vertical-align: middle;
}

footer {
  background:#eee3dd;
  color: black;
}

footer p {
  line-height: 60px;
  margin: 0 auto;
  width: 75%;
}
